
.link{
    display: flex;
    gap: 20px;
}

.content
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.BigTitle
{
    color: rgb(40, 96, 40);
    text-align: center;
    padding: 50px;
}
